/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/so_locations
/tags
/test-action-icons
/test-basic
/test-default-action
/test-error
/test-image
/test-markup
/test-multi-actions
/test-persistence
/test-removal
/test-replace
/test-replace-widget
/test-resident
/test-rtl
/test-server-info
/test-size-changes
/test-transient
/test-urgency
/test-xy
/test-xy-actions
/test-xy-stress
