/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Notify-0.7.gir
/Notify-0.7.typelib
/TAGS
/_libs
/libnotify.la
/notify-enum-types.c
/notify-enum-types.h
/notify-features.h
/notify-marshal.c
/notify-marshal.h
/s-enum-types-c
/s-enum-types-h
/so_locations
/tags
