/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libnotify-decl-list.txt
/libnotify-decl.txt
/libnotify-undeclared.txt
/libnotify-undocumented.txt
/libnotify-unused.txt
/libnotify.args
/libnotify.hierarchy
/libnotify.interfaces
/libnotify.prerequisites
/libnotify.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/libnotify-unused.sgml
/xml
